html {
  display: flex;
  justify-content: center;
  background-image: url("../assets/back.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 60%;
  height: 100%;
  border-left: 5px solid white;
  border-right: 5px solid white;
}

@media screen and (max-width: 1024px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 820px) {
  body {
    width: 90%;
  }
}
