.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 30px;
  width: 97%;
  height: 250px;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 3px;
}

.name {
  margin: 0px 0;
  font-family: Roboto;
}

.jobTitle {
  margin: 0 0 10px 0;
  font-family: Roboto;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
}

.imageContacts {
  width: 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 5px;
}

.textContacts {
  text-decoration: none;
  font-size: 13px;
  color: black;

  &:hover {
    color: rgb(81, 81, 250);
  }
}

.avatar {
  width: 250px;
  border-radius: 150px;
}

.navigation {
  display: flex;
  justify-content: end;
  width: 40%;
}

.navigationList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 3px;
  padding: 0;
}

.navigationItem {
  text-align: right;
}

.navigationLink {
  text-decoration: none;
  color: black;
  font-family: Roboto;
  font-size: 20px;

  &:hover {
    color: rgb(81, 81, 250);
  }
}

.langContainer {
  display: flex;
  position: absolute;
  height: 25px;
  top: 15px;
  right: 30px;
  border: 1px solid white;
}

.buttonLangRU,
.buttonLangEN {
  border: none;
  background-color: rgb(233, 233, 233);
  cursor: pointer;

  &:hover {
    color: rgb(81, 81, 250);
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(153, 153, 153);
    cursor: auto;
  }
}

.buttonLangEN {
  border-right: 1px solid white;
}

@media screen and (max-width: 540px) {
  .header {
    flex-direction: column;
    height: 480px;
  }

  .profile {
    width: 80%;
  }

  .navigation {
    justify-content: start;
    width: 80%;
  }

  .navigationItem {
    text-align: left;
  }

  .navigationLink {
    font-size: 15px;
  }

  .avatar {
    width: 200px;
    border-radius: 150px;
  }
}

@media screen and (max-width: 460px) {
  .header {
    height: 480px;
  }

  .name {
    font-size: 30px;
  }
}

@media screen and (max-width: 430px) {
  .header {
    height: 510px;
  }
}
