.footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 15px 10px;
  border-top: 5px solid white;
}

.footerName,
.updateDate {
  color: rgb(104, 104, 104);
  font-size: 15px;
  text-decoration: none;
}

.footerName:hover {
  color: rgb(81, 81, 250);
}
